
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}


<div class="container">
    <h1>GIỚI THIỆU</h1>
    <h5>
        Thành lập từ năm 2020, với sản phẩm cốt lõi là giày Secondhand (giày đã qua sử dụng), Tiệm Giày Cũ Levi Store không ngừng mở rộng
        gian hàng trực tiếp để chào đón quý khách hàng ghé tham quan mua sắm, mà còn liên tục mở rộng các gian hàng online để thuận tiện
        việc tiếp cận và đặt hàng của các khách hàng đam mê giày chính hãng. Trong suốt quá trình hoạt động, Tiệm luôn nỗ lực với mục tiêu
        cao nhất là mang lại sự hài lòng của khách hàng thông qua những sản phẩm chính hãng với mức giá hợp lí nhất.
        Tiệm Giày Cũ Levi Store hướng tới chất lượng giày, mức giá hời, mẫu mã đa dạng và số lượng khủng trong việc
        cung cấp giày Sneaker Secondhand hàng đầu TP. Hồ Chí Minh.
    </h5>

    <img src="~/imgs/cuahang.png" />
    <h3>Quá trình hình thành Tiệm Giày Cũ Sài Gòn</h3>
    <h5>
        Từ những chàng sinh viên đam mê sưu tầm đồ chính hãng và mong muốn người tiêu dùng được tiếp cận hàng chính hãng một cách dễ dàng với mức phí không quá đắt đỏ. Tiệm Đồ Si đã ra đời, được nuôi dưỡng và phát triển bởi niềm đam mê của 2 chàng sinh viên năm đó. Thời gian đầu, Tiệm cung cấp các sản phẩm đã qua sử dụng: nước hoa, quần áo, giày chính hãng, đồng hồ, balo, …
        Sau bao năm không ngừng học hỏi và chắc lọc, Tiệm giữ lại sản phẩm cốt lõi là Giày Sneaker chính hãng. Đến năm 2022 cửa hàng được đổi tên thành <strong>“Giày cũ Levi Store”</strong> với tiêu chí <strong>“Nói không với giày Fake”</strong>. Cửa hàng chuyên cung cấp các dòng giày Sneaker Secondhand– bóng rổ- chạy bộ - thời trang từ các thương hiệu nổi tiếng như: Nike, Adidas,MLB, Vans, …
    </h5>
    <img src="~/imgs/kegiay.png" />
    
    <div class="p-3">
        <h3>Chi Nhánh</h3>
        <ul>
            <li>Cửa hàng trực tiếp duy nhất:</li>
            <div>Facebook: Tiệm Giày 2hand LeviStore</div>
            <div>Địa chỉ: 206/10 Nguyễn Gia Trí (D2 cũ), phường 25, quận Bình Thạnh, tp. Hồ Chí Minh</div>
            <div>Hotline Store: 0979 019 068 – 0968 047 079</div>
            <div>Thời gian làm việc: 9h sáng – 9h tối, tất cả các ngày trong tuần</div>
            <li>Cửa hàng online:</li>
            <div>Website: LeviStore.com</div>

        </ul>
    </div>
    <div class="p-3">
        <h3>Lưu ý:</h3>
        <div>
            Để hỗ trợ khách hàng nhanh nhất và chuyên nghiệp nhất, mỗi kênh online sẽ có Admin hỗ trợ riêng.
            Quý khách vui lòng xem sản phẩm trên kênh online nào – nhắn trực tiếp trên kênh đó.
        </div>
        <div>
            Khách hàng muốn xem hình ảnh giày Website vui lòng add
            ZALO: 0825 399 738 – Tiệm Giày Cũ LeviStore.
        </div>

    </div>
</div>
 

